@using FiberCorp.Off365.Web.Models.Home
@model List<SubscriptionViewModel>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<ul class="nav nav-tabs headerTabs" style="width:100%">
    <li class="active"><a data-toggle="tab" href="#planesContratados">Planes Contratados</a></li>
    <li class="separate"><a data-toggle="tab" href="#precios">Precios</a></li>
    <li class="last-tab"><a data-toggle="tab" href="#consumos">Consumos</a></li>
</ul>

<div class="tab-content tabLine" style="height:100%;">

    <div id="planesContratados" class="tab-pane fade in active">

        @if (ViewBag.CustomerId is string)
        {
            <div class="row background-header">
                <div class="usuario-cliente">Seleccione el cliente</div>
                <div class="row pad-left-0">
                    <div class="form-group form-inline">
                        <label class="header-portal">CUIC:&nbsp;&nbsp;</label>
                        <input type="text" class="txt-cuic" placeholder="Ingresar" />
                        <button type="button" class="btn btn-select-customer btn-select">Seleccionar</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row background-header">
                <div class="usuario">@ViewBag.ClientName</div>
                @if (ViewBag.IsInternalEnvironment)
                {
                    <div class="row pad-left-0">
                        <div class="col-xs-2 header-portal-office header-portal"><strong>DOCUMENTO: </strong></div>
                        <div class="col-xs-2 header-portal-office header-portal"><strong>NUMERO:</strong></div>
                        <div class="col-xs-2 header-portal-office header-portal"><strong>CUIC:</strong></div>
                        <div class="col-xs-6 header-portal-office header-portal"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @ViewBag.CustomerData.Telefono</div>
                    </div>
                    <div class="row pad-left-0">
                        <div class="col-xs-2 header-portal-office header-portal-dato">@ViewBag.CustomerData.TipDocumento</div>
                        <div class="col-xs-2 header-portal-office header-portal-dato">@ViewBag.CustomerData.NroDocumento</div>
                        <div class="col-xs-2 header-portal-office header-portal-dato">@ViewBag.CustomerData.Cuic</div>
                        <div class="col-xs-6 header-portal-office header-portal"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> @ViewBag.CustomerData.Email</div>
                    </div>
                }
                @if (!ViewBag.IsInternalEnvironment)
                {
                    <div class="row pad-left-0">
                        <div class="col-sm-4 header-portal-office header-portal-office">
                            <div class="header-outline"><a href="https://portal.office.com" target="_blank" class="link-portal"><img src="~/Content/Images/config-portal.png" />Portal Office</a></div>
                        </div>
                        <div class="col-sm-4 header-portal-office header-portal">
                            <div class="header-outline-small">
                                Usuario:<span class="header-portal-dato"> @ViewBag.MSUser</span>
                            </div>
                        </div>
                        <div class="col-sm-4 header-portal-office header-portal">
                            <div class="header-outline-small">
                                Clave Provisoria:<span class="header-portal-dato"> @ViewBag.MSPwd</span>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row headerTable">
                <div class="col-sm-8 col-xs-8 headerTableText table-text-space">Plan Contratado</div>
                <div class="col-sm-4 col-xs-4 headerTableText headerTableText-line">Licencias</div>
            </div>

            <div class="row hidden minAlert">
                <div class="alert alert-warning">
                    <strong>Atenci&oacute;n!</strong> Se debe poner como m&iacute;nimo una licencia.
                </div>
            </div>

            <div class="row hidden maxOfferAlert">
                <div class="alert alert-warning">
                    <strong>Atenci&oacute;n!</strong> La cantidad ingresada excede el m&aacute;ximo permitido de licencias.
                </div>
            </div>

            <div class="row hidden minOfferAlert">
                <div class="alert alert-warning">
                    <strong>Atenci&oacute;n!</strong> La cantidad ingresado es menor al m&iacute;nicmo permitido de licencias.
                </div>
            </div>

            <div class="row hidden errAlert">
                <div class="alert alert-danger">
                    <strong>Atenci&oacute;n!</strong> Se ha producido un error, por favor comun&iacute;quese telef&oacute;nicamente o reintente m&aacute;s tarde.
                </div>
            </div>

            if (!ViewBag.IsInternalEnvironment)
            {
                <div class="row pad-bot-15">
                    <div class="col-md-8 col-xs-8 tableSpace">
                        <div class="col-sm-4 col-xs-4 pad-left-0">
                            <button type="button" id="btn-add-license" class="btn btn-default btn-circle btn-add-license" title="Agregar Plan">
                                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 491.86 491.86" xml:space="preserve" class="fill-svg-2">
                                <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
			C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
			s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" />
                                    </svg>
                            </button>
                            <span class="plan">Agregar Plan</span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-8 col-sm-8 nopadding padding-agregar-plan">
                            <div class="form-group add-license-controls" style="display:none;">
                                <select id="cmb-price" class="form-control-select">
                                    @foreach (PriceViewModel price in (List<PriceViewModel>)ViewBag.Prices)
                                    {
                                        <option value="@(price.OfferId)|@(price.SubscriptionId)">@price.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-1 col-xs-1 space-licencias">
                            <div class="add-license-controls" style="display:none;">
                                <input type="number" id="txt-license-quantity" min="1" class="form-control-number" value="1">
                            </div>
                        </div>

                        <div class="col-sm-3 col-xs-3 tableSpace tabla-space-plan">
                            <div class="btn-group add-license-controls" style="display:none;">
                                <button type="button" id="btn-confirm-add-license" class="btn btn-default btn-circle btn-confirm-add-license" title="Agregar Plan">
                                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 60 60" xml:space="preserve" class="fill-svg-2">
                                    <path d="M51.179,40.429l-5.596,8.04l-3.949-3.241c-0.426-0.352-1.057-0.288-1.407,0.138c-0.351,0.427-0.289,1.058,0.139,1.407   l4.786,3.929c0.18,0.148,0.404,0.228,0.634,0.228c0.045,0,0.091-0.003,0.137-0.01c0.276-0.038,0.524-0.19,0.684-0.419l6.214-8.929   c0.315-0.453,0.204-1.076-0.25-1.392C52.116,39.861,51.494,39.975,51.179,40.429z"></path>
                                    <path d="M52,34.479V15V5c0-0.553-0.448-1-1-1h-5V1c0-0.553-0.448-1-1-1h-7c-0.552,0-1,0.447-1,1v3H15V1c0-0.553-0.448-1-1-1H7   C6.448,0,6,0.447,6,1v3H1C0.448,4,0,4.447,0,5v10v41c0,0.553,0.448,1,1,1h38.104c2.002,1.26,4.362,2,6.896,2   c7.168,0,13-5.832,13-13C59,40.997,56.154,36.651,52,34.479z M39,2h5v3v3h-5V5V2z M8,2h5v3v3H8V5V2z M2,6h4v3c0,0.553,0.448,1,1,1   h7c0.552,0,1-0.447,1-1V6h22v3c0,0.553,0.448,1,1,1h7c0.552,0,1-0.447,1-1V6h4v8H2V6z M2,55V16h48v17.636   c-0.196-0.063-0.396-0.114-0.596-0.169c-0.185-0.051-0.37-0.101-0.557-0.144c-0.169-0.038-0.34-0.071-0.511-0.102   c-0.244-0.045-0.489-0.082-0.735-0.113c-0.137-0.017-0.273-0.036-0.411-0.049C46.796,33.024,46.399,33,46,33   c-0.338,0-0.669,0.025-1,0.051V32v-2v-9h-9h-2h-7h-2h-7h-2H7v9v2v7v2v9h9h2h7h2h6.636c0.029,0.088,0.065,0.173,0.095,0.26   c0.084,0.243,0.167,0.487,0.266,0.724c0.055,0.133,0.12,0.26,0.18,0.39c0.115,0.254,0.232,0.507,0.363,0.753   c0.058,0.107,0.123,0.21,0.184,0.316c0.148,0.259,0.298,0.515,0.464,0.763c0.061,0.091,0.128,0.177,0.191,0.267   c0.176,0.25,0.356,0.498,0.551,0.736c0.072,0.088,0.15,0.17,0.224,0.256c0.155,0.18,0.303,0.364,0.468,0.536H2z M40.313,34.328   c-0.108,0.052-0.218,0.101-0.324,0.156c-0.188,0.098-0.37,0.206-0.552,0.313c-0.159,0.093-0.318,0.188-0.473,0.287   c-0.157,0.102-0.31,0.206-0.462,0.314c-0.173,0.122-0.341,0.25-0.508,0.38c-0.134,0.105-0.268,0.209-0.397,0.32   c-0.175,0.148-0.342,0.305-0.509,0.462c-0.115,0.109-0.234,0.214-0.345,0.326c-0.181,0.184-0.352,0.379-0.522,0.574   c-0.072,0.083-0.151,0.159-0.222,0.244V32h7v1.362c-0.017,0.004-0.033,0.01-0.049,0.014C42.029,33.599,41.147,33.92,40.313,34.328z    M33.57,42.199c-0.035,0.115-0.058,0.233-0.09,0.349c-0.08,0.29-0.162,0.58-0.222,0.879c-0.047,0.231-0.073,0.467-0.107,0.701   c-0.027,0.189-0.065,0.375-0.085,0.567C33.023,45.126,33,45.562,33,46c0,0.361,0.02,0.726,0.053,1.092   c0.006,0.067,0.006,0.135,0.013,0.202c0.016,0.162,0.048,0.319,0.07,0.479c0,0,0,0.001,0,0.001   c0.011,0.076,0.015,0.151,0.027,0.226H27v-7h7v0.007c-0.01,0.024-0.016,0.049-0.026,0.073   C33.824,41.445,33.687,41.818,33.57,42.199z M9,41h7v7H9V41z M9,32h7v7H9V32z M43,30h-7v-7h7V30z M34,30h-7v-7h7V30z M34,39h-7v-7   h7V39z M18,32h7v7h-7V32z M25,30h-7v-7h7V30z M16,30H9v-7h7V30z M18,41h7v7h-7V41z M46,57c-2.258,0-4.359-0.686-6.107-1.858   c-0.341-0.228-0.663-0.476-0.972-0.736c-0.108-0.092-0.21-0.19-0.314-0.286c-0.197-0.179-0.388-0.363-0.57-0.554   c-0.117-0.123-0.23-0.248-0.341-0.375c-0.164-0.189-0.318-0.384-0.468-0.583c-0.096-0.127-0.195-0.25-0.286-0.381   c-0.221-0.321-0.429-0.651-0.615-0.993c-0.043-0.08-0.077-0.164-0.118-0.245c-0.146-0.286-0.282-0.576-0.403-0.874   c-0.052-0.13-0.097-0.263-0.145-0.395c-0.094-0.262-0.18-0.528-0.255-0.797c-0.017-0.062-0.032-0.124-0.048-0.186   c-0.113-0.44-0.196-0.877-0.255-1.312c-0.004-0.031-0.01-0.062-0.014-0.094C35.031,46.882,35,46.437,35,46   c0-0.379,0.019-0.755,0.058-1.128c0.003-0.031,0.011-0.061,0.014-0.092c0.038-0.341,0.088-0.681,0.158-1.016   c0.007-0.032,0.018-0.063,0.025-0.095c0.072-0.332,0.157-0.662,0.26-0.988c0.012-0.038,0.029-0.075,0.041-0.113   c0.103-0.312,0.217-0.622,0.349-0.926c0.124-0.286,0.258-0.567,0.405-0.84l0.099-0.171c0.04-0.072,0.087-0.14,0.129-0.211   c0.174-0.293,0.36-0.577,0.557-0.851c0.049-0.068,0.1-0.135,0.151-0.202c0.18-0.238,0.37-0.467,0.568-0.688   c0.069-0.077,0.138-0.155,0.209-0.23c0.196-0.208,0.402-0.405,0.613-0.596c0.075-0.068,0.148-0.138,0.225-0.204   c0.248-0.212,0.505-0.411,0.77-0.6c0.042-0.03,0.082-0.063,0.124-0.093c1.305-0.902,2.804-1.52,4.412-1.79l0.021-0.003   C44.778,35.064,45.381,35,46,35c0.389,0,0.776,0.021,1.16,0.063c0.06,0.006,0.118,0.02,0.178,0.027   c0.328,0.041,0.655,0.09,0.978,0.16c0.04,0.009,0.078,0.021,0.117,0.03c0.344,0.079,0.685,0.171,1.022,0.284   c0.023,0.008,0.045,0.017,0.068,0.025c0.345,0.118,0.685,0.253,1.022,0.406C54.347,37.729,57,41.557,57,46   C57,52.065,52.065,57,46,57z"></path>
                                    </svg>
                                </button>
                                <button type="button" id="btn-cancel-add-license" class="btn btn-default btn-circle btn-cancel-add-license" title="Cancelar">
                                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 512 512" xml:space="preserve" class="fill-svg">
                                    <path d="M465.423,48.241h-137.61V23.955C327.813,10.746,317.082,0,303.893,0h-95.785c-13.19,0-23.92,10.746-23.92,23.955V48.24    H46.577c-6.655,0-12.049,5.394-12.049,12.049c0,6.655,5.394,12.049,12.049,12.049h22.332l15.228,396.396    C85.069,492.995,104.818,512,129.099,512h253.804c24.281,0,44.03-19.006,44.96-43.267l15.228-396.396h22.332    c6.653,0,12.049-5.394,12.049-12.049C477.472,53.635,472.078,48.241,465.423,48.241z M208.285,24.097h95.43v24.143h-95.43V24.097z     M403.784,467.809c-0.433,11.268-9.605,20.094-20.882,20.094H129.099c-11.276,0-20.448-8.827-20.882-20.095L93.025,72.338h325.952    L403.784,467.809z"></path>
                                    <path d="M182.63,181.571c-0.127-6.575-5.494-11.817-12.042-11.817c-0.078,0-0.158,0-0.236,0.002    c-6.652,0.128-11.943,5.626-11.815,12.278l3.781,196.634c0.126,6.575,5.495,11.817,12.042,11.817c0.078,0,0.158,0,0.236-0.002    c6.653-0.128,11.943-5.624,11.815-12.278L182.63,181.571z"></path>
                                    <path d="M255.998,169.753c-6.654,0-12.049,5.394-12.049,12.049v196.634c0,6.654,5.394,12.049,12.049,12.049    c6.655,0,12.049-5.394,12.049-12.049V181.802C268.047,175.148,262.653,169.753,255.998,169.753z"></path>
                                    <path d="M341.645,169.756c-6.628-0.147-12.151,5.162-12.278,11.815l-3.781,196.634c-0.129,6.653,5.162,12.15,11.815,12.278    c0.078,0.001,0.158,0.002,0.236,0.002c6.546,0,11.916-5.244,12.042-11.817l3.781-196.634    C353.588,175.38,348.299,169.883,341.645,169.756z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            }

            foreach (SubscriptionViewModel subscription in Model)
            {
                <div class="row line">
                    <div class="row">

                        <div class="col-md-8 col-xs-8 tableSpace nopadding">
                            <input type="text" class="form-control" style="cursor:default;" placeholder="@subscription.Name" disabled>
                        </div>

                        <div class="col-xs-1 nopadding  input-space">

                            <!--mostrar si sólo va el número de licencias sin editar-->
                            <div class="licencias txt-license-label" data-subscription-id="@subscription.Id">@subscription.Quantity</div>

                            <!--mostrar en la edición de cantidad de licencias-->
                            <div class="form-group">
                                <input type="number" min="1" class="form-control-number txt-license-quantity"
                                       data-subscription-id="@subscription.Id" placeholder="@subscription.Quantity"
                                       data-subscription-quantity="@subscription.Quantity" style="cursor:default; display:none;" disabled>
                            </div>
                        </div>

                        <div class="col-xs-3 tableSpace nopadding pad-botones">
                            <div class="btn-group">
                                @if (subscription.Status == "Activo" && !ViewBag.IsInternalEnvironment)
                                {
                                    <button type="button" class="btn btn-default btn-circle btn-modify-licenses" data-subscription-id="@subscription.Id" title="Modificar Licencia">
                                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 512 512" xml:space="preserve" class="fill-svg">
                                        <path d="M397.736,78.378c6.824,0,12.358-5.533,12.358-12.358V27.027C410.094,12.125,397.977,0,383.08,0H121.641    c-3.277,0-6.42,1.303-8.739,3.62L10.527,105.995c-2.317,2.317-3.62,5.461-3.62,8.738v370.239C6.908,499.875,19.032,512,33.935,512    h349.144c14.897,0,27.014-12.125,27.014-27.027V296.289c0.001-6.824-5.532-12.358-12.357-12.358    c-6.824,0-12.358,5.533-12.358,12.358v188.684c0,1.274-1.031,2.311-2.297,2.311H33.936c-1.274,0-2.311-1.037-2.311-2.311v-357.88    h75.36c14.898,0,27.016-12.12,27.016-27.017V24.716H383.08c1.267,0,2.297,1.037,2.297,2.311V66.02    C385.377,72.845,390.911,78.378,397.736,78.378z M109.285,100.075c0,1.269-1.032,2.301-2.3,2.301H49.107l60.178-60.18V100.075z"></path>
                                        <path d="M492.865,100.396l-14.541-14.539c-16.304-16.304-42.832-16.302-59.138,0L303.763,201.28H103.559    c-6.825,0-12.358,5.533-12.358,12.358c0,6.825,5.533,12.358,12.358,12.358h175.488l-74.379,74.379H103.559    c-6.825,0-12.358,5.533-12.358,12.358s5.533,12.358,12.358,12.358h76.392l-0.199,0.199c-1.508,1.508-2.598,3.379-3.169,5.433    l-19.088,68.747h-53.936c-6.825,0-12.358,5.533-12.358,12.358s5.533,12.358,12.358,12.358h63.332c0.001,0,2.709-0.306,3.107-0.41    c0.065-0.017,77.997-21.642,77.997-21.642c2.054-0.57,3.926-1.662,5.433-3.169l239.438-239.435    C509.168,143.228,509.168,116.7,492.865,100.396z M184.644,394.073l10.087-36.326l26.24,26.24L184.644,394.073z M244.69,372.752    l-38.721-38.721l197.648-197.648l38.722,38.721L244.69,372.752z M475.387,142.054l-15.571,15.571l-38.722-38.722l15.571-15.571    c6.669-6.668,17.517-6.667,24.181,0l14.541,14.541C482.054,124.54,482.054,135.388,475.387,142.054z"></path>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-default btn-circle btn-save-licenses" data-subscription-id="@subscription.Id" title="Guardar" style="display:none">
                                        <img src="~/Content/Images/edit.png" />
                                    </button>
                                    if (ViewBag.MoreThanOneSubscription)
                                    {
                                        <button type="button" class="btn btn-default btn-circle btn-suspend-licenses" data-subscription-name="@subscription.Name" data-subscription-id="@subscription.Id" title="Suspender">
                                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" xml:space="preserve" class="fill-svg">
                                            <path d="M465.423,48.241h-137.61V23.955C327.813,10.746,317.082,0,303.893,0h-95.785c-13.19,0-23.92,10.746-23.92,23.955V48.24    H46.577c-6.655,0-12.049,5.394-12.049,12.049c0,6.655,5.394,12.049,12.049,12.049h22.332l15.228,396.396    C85.069,492.995,104.818,512,129.099,512h253.804c24.281,0,44.03-19.006,44.96-43.267l15.228-396.396h22.332    c6.653,0,12.049-5.394,12.049-12.049C477.472,53.635,472.078,48.241,465.423,48.241z M208.285,24.097h95.43v24.143h-95.43V24.097z     M403.784,467.809c-0.433,11.268-9.605,20.094-20.882,20.094H129.099c-11.276,0-20.448-8.827-20.882-20.095L93.025,72.338h325.952    L403.784,467.809z"></path>
                                            <path d="M182.63,181.571c-0.127-6.575-5.494-11.817-12.042-11.817c-0.078,0-0.158,0-0.236,0.002    c-6.652,0.128-11.943,5.626-11.815,12.278l3.781,196.634c0.126,6.575,5.495,11.817,12.042,11.817c0.078,0,0.158,0,0.236-0.002    c6.653-0.128,11.943-5.624,11.815-12.278L182.63,181.571z"></path>
                                            <path d="M255.998,169.753c-6.654,0-12.049,5.394-12.049,12.049v196.634c0,6.654,5.394,12.049,12.049,12.049    c6.655,0,12.049-5.394,12.049-12.049V181.802C268.047,175.148,262.653,169.753,255.998,169.753z"></path>
                                            <path d="M341.645,169.756c-6.628-0.147-12.151,5.162-12.278,11.815l-3.781,196.634c-0.129,6.653,5.162,12.15,11.815,12.278    c0.078,0.001,0.158,0.002,0.236,0.002c6.546,0,11.916-5.244,12.042-11.817l3.781-196.634    C353.588,175.38,348.299,169.883,341.645,169.756z"></path>
                                            </svg>
                                        </button>
                                    }
                                    <span>
                                        Agregar Add-On &nbsp;
                                        <button type="button" class="btn btn-default btn-circle btn-add-addon" data-subscription-id="@subscription.Id" data-offer-id="@subscription.OfferId" title="Agregar Addon">
                                            <img src="~/Content/Images/add_addon.png" />
                                        </button>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- AddOn List -->
                    <div class="row">
                        @foreach (SubscriptionViewModel addon in subscription.AddOns)
                        {
                        <div class="col-md-8 col-xs-8 nopadding add-on">
                            @addon.Name
                            @if (!ViewBag.IsInternalEnvironment)
    {
                                <button type="button" class="btn btn-default btn-circle btn-suspend-addon" data-addon-id="@addon.Id" data-subscription-name="@addon.Name" title="Suspender">
                                    <img src="~/Content/Images/delete_addon.png" />
                                </button>
                            }
                        </div>

                            <div class="col-xs-1 nopadding pad-addon-cantidad">
                                @addon.Quantity
                            </div>
                        }
                    </div>
                    <!-- AddOn List -->
                    <!-- Add AddOn -->


                    <div class="row">
                            <div class="form-group add-addon-controls" style="display:none;" data-subscription-id="@subscription.Id">
                                <div class="col-sm-8 addon-space addon-new-space">
                                    <select class="form-control-select cbo-addon" data-subscription-id="@subscription.Id"></select>
                                </div>
                                <div class="col-sm-1 space-add-addon">
                                    <input type="number" class="form-control-number txt-quantity-addon" value="1" data-subscription-id="@subscription.Id" />
                                </div>
                                <div class="col-xs-3 tableSpace nopadding space-addon-button">
                                    <button type="button" class="btn btn-default btn-circle btn-save-addon" data-subscription-id="@subscription.Id" title="Guardar">
                                        <img src="~/Content/Images/edit.png" />
                                    </button>
                                    <button type="button" class="btn btn-default btn-circle btn-cancel-add-addon" data-subscription-id="@subscription.Id" title="Cancelar">
                                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 512 512" xml:space="preserve" class="fill-svg">
                                        <path d="M465.423,48.241h-137.61V23.955C327.813,10.746,317.082,0,303.893,0h-95.785c-13.19,0-23.92,10.746-23.92,23.955V48.24    H46.577c-6.655,0-12.049,5.394-12.049,12.049c0,6.655,5.394,12.049,12.049,12.049h22.332l15.228,396.396    C85.069,492.995,104.818,512,129.099,512h253.804c24.281,0,44.03-19.006,44.96-43.267l15.228-396.396h22.332    c6.653,0,12.049-5.394,12.049-12.049C477.472,53.635,472.078,48.241,465.423,48.241z M208.285,24.097h95.43v24.143h-95.43V24.097z     M403.784,467.809c-0.433,11.268-9.605,20.094-20.882,20.094H129.099c-11.276,0-20.448-8.827-20.882-20.095L93.025,72.338h325.952    L403.784,467.809z"></path>
                                        <path d="M182.63,181.571c-0.127-6.575-5.494-11.817-12.042-11.817c-0.078,0-0.158,0-0.236,0.002    c-6.652,0.128-11.943,5.626-11.815,12.278l3.781,196.634c0.126,6.575,5.495,11.817,12.042,11.817c0.078,0,0.158,0,0.236-0.002    c6.653-0.128,11.943-5.624,11.815-12.278L182.63,181.571z"></path>
                                        <path d="M255.998,169.753c-6.654,0-12.049,5.394-12.049,12.049v196.634c0,6.654,5.394,12.049,12.049,12.049    c6.655,0,12.049-5.394,12.049-12.049V181.802C268.047,175.148,262.653,169.753,255.998,169.753z"></path>
                                        <path d="M341.645,169.756c-6.628-0.147-12.151,5.162-12.278,11.815l-3.781,196.634c-0.129,6.653,5.162,12.15,11.815,12.278    c0.078,0.001,0.158,0.002,0.236,0.002c6.546,0,11.916-5.244,12.042-11.817l3.781-196.634    C353.588,175.38,348.299,169.883,341.645,169.756z"></path>
                                    </svg>
                                    </button>
                                </div>
                            </div>
                    </div>
                    <!-- Add AddOn -->

                </div>
            }

            <div class="clearfix"></div>

	        <!-- MENSAJE -->
            if (ViewBag.ShowSuspendSubscriptionByPhone && !ViewBag.IsInternalEnvironment)
            {
                <div class="col-md-10 ">
                    <div class="alert alert-info">
                        No se puede eliminar la &uacute;ltima cuenta, para solicitar la baja del servicio env&iacute;a un mail a la casilla <a href="mailto:socios@cv.fibercorp.com.ar">socios@cv.fibercorp.com.ar</a>
                    </div>
                </div>
            }
	        <!-- --- -->
        }
    </div>
    <div id="precios" class="tab-pane fade">
        <!-- COMIENZA LA LISTA DE PRECIOS -->
        <div class="col-sm-12 precios-contenido">

            <table class="table">

                <tr>
                    <td class="preciosTable align-top">
                        <!-- módulo 1 -->
                        <div>
                            <div class="precios-top">Office 365<br>Empresa</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Da lo mejor de tu trabajo con las aplicaciones de Office instaladas al completo en todos tus dispositivos, además del almacenamiento en línea y uso compartido de archivos.<br>
                                <br>
                                Office 365 Empresa incluye ahora las nuevas aplicaciones de Office 2016 para PC y Mac.<br>
                                <br>
                                <strong>Aplicaciones móviles y de escritorio de Office 2016</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_outlook.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_word.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_excel.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_powerPoint.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_notes.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_publisher.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_acces.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                                <div class="precios-collapse text-center"><a data-toggle="collapse" data-target="#modulo1" class="precios-cursor">▼▲</a></div>
                                <div id="modulo1" class="collapse">
                                    Disfruta de una experiencia de instalación completa de Office en equipos PC, equipos Mac, tabletas Windows, iPad® y tabletas Android™, así como en la mayoría de dispositivos móviles. Cada usuario puede instalar Office en 5 equipos PC o Mac, en 5 tabletas (Windows, iPad y Android) y en 5 teléfonos.
                                    <br><br>
                                    <strong>Servicios en línea</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="preciosTable align-top">
                        <!-- módulo 2 -->
                        <div>
                            <div class="precios-top">Office 365<br>Empresa Essentials</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Trabaja mejor desde cualquier lugar con herramientas y servicios de colaboración de Office siempre actualizados.
                                <br><br>
                                <strong>Servicios en línea</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_calendario.jpg" width="40" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_conferencias.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_chat.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_yammer.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_grupo.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_admin.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_busqueda.jpg" width="30" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </td>

                    <td class="preciosTable align-top">
                        <!-- módulo 3 -->
                        <div>
                            <div class="precios-top">Office 365<br>Empresa Premium</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Aumenta tu impacto y maximiza tu alcance con Office con tecnología de nube, unas herramientas imprescindibles para la empresa actual.<br><br>
                                <strong>Conjunto de programas de Office</strong><br>
                                Ahora incluye las nuevas aplicaciones de Office 2016 para PC y Mac.
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_outlook.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_word.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_excel.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_powerPoint.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_notes.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_publisher.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_acces.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype2.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                                <div class="precios-collapse text-center"><a data-toggle="collapse" data-target="#modulo3" class="precios-cursor">▼▲</a></div>
                                <div id="modulo3" class="collapse">
                                    <img src="~/content/images/aplicaciones_tablets.jpg" width="26" height="31" alt="" /><br>
                                    Disfruta de una experiencia de instalación completa de Office en equipos PC, equipos Mac, tabletas Windows, iPad® y tabletas Android™, así como en la mayoría de dispositivos móviles. Cada usuario puede instalar Office en 5 equipos PC o Mac, en 5 tabletas (Windows, iPad y Android) y en 5 teléfonos.
                                    <br><br>
                                    <strong>Servicios en línea</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_calendario.jpg" width="40" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_conferencias.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_skype.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_chat.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_yammer.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_grupo.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_admin.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_busqueda.jpg" width="30" height="24" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="preciosTable align-top">
                        <!-- módulo 4 -->
                        <div>
                            <div class="precios-top">Office 365<br>ProPlus</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Tu Office, dondequiera que vayas. Obtén las últimas herramientas de productividad, colaboración, cumplimiento normativo y BI, actualizadas con regularidad.<br><br>
                                <strong>Conjunto de programas de Office</strong><br>
                                Ahora incluye las nuevas aplicaciones de Office 2016 para PC y Mac.
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_outlook.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_word.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_excel.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_powerPoint.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_notes.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_publisher.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_acces.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype2.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                                <div class="precios-collapse text-center"><a data-toggle="collapse" data-target="#modulo4" class="precios-cursor">▼▲</a></div>
                                <div id="modulo4" class="collapse">
                                    <img src="~/content/images/aplicaciones_tablets.jpg" width="26" height="31" alt="" /><br>
                                    Disfruta de una experiencia de instalación completa de Office en equipos PC, equipos Mac, tabletas Windows, iPad® y tabletas Android™, así como en la mayoría de dispositivos móviles. Cada usuario puede instalar Office en 5 equipos PC o Mac, en 5 tabletas (Windows, iPad y Android) y en 5 teléfonos.
                                    <br><br>
                                    <strong>Servicios en línea</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_inteligencia.jpg" width="26" height="24" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="preciosTable align-top">
                        <!-- módulo 5 -->
                        <div>
                            <div class="precios-top">Office 365<br>Enterprise E1</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Trabaja mejor desde cualquier lugar con herramientas y servicios de colaboración de Office siempre actualizados.
                                <br><br>
                                <strong>Servicios en línea</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_calendario.jpg" width="40" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_conferencias.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_chat.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_yammer.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_grupo.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_admin.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_busqueda.jpg" width="30" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_video.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_sharepoint.jpg" width="31" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_empleados.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_difusion.jpg" width="34" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </td>
                    <td class="preciosTable align-top">
                        <!-- módulo 6 -->
                        <div>
                            <div class="precios-top">Office 365<br>ProPlus</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Tu Office, dondequiera que vayas. Obtén las últimas herramientas de productividad, colaboración, cumplimiento normativo y BI, actualizadas con regularidad.<br><br>
                                <strong>Conjunto de programas de Office</strong><br>
                                Ahora incluye las nuevas aplicaciones de Office 2016 para PC y Mac.
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_outlook.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_word.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_excel.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_powerPoint.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_notes.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_publisher.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_acces.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype2.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                                <div class="precios-collapse text-center"><a data-toggle="collapse" data-target="#modulo6" class="precios-cursor">▼▲</a></div>
                                <div id="modulo6" class="collapse">
                                    <img src="~/content/images/aplicaciones_tablets.jpg" width="26" height="31" alt="" /><br>
                                    Disfruta de una experiencia de instalación completa de Office en equipos PC, equipos Mac, tabletas Windows, iPad® y tabletas Android™, así como en la mayoría de dispositivos móviles. Cada usuario puede instalar Office en 5 equipos PC o Mac, en 5 tabletas (Windows, iPad y Android) y en 5 teléfonos.
                                    <br><br>
                                    <strong>Servicios en línea</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_calendario.jpg" width="40" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_conferencias.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_skype.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_chat.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_yammer.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_grupo.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_admin.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_busqueda.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_mailBusqueda.jpg" width="34" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_seguridad.jpg" width="32" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_difusion.jpg" width="34" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_calendarioMail.jpg" width="32" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sistema.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_video.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_telefono.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_herramientas.jpg" width="31" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_archivo.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_inteligencia.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sharepoint.jpg" width="31" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_empleados.jpg" width="26" height="24" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div><br><br>
                                    <strong>Servicios complementarios</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_celular.jpg" width="26" height="34" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_nubeTelefono.jpg" width="34" height="34" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div><br><br>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="preciosTable align-top">
                        <!-- módulo 7 -->
                        <div>
                            <div class="precios-top">Office 365<br>ProPlus</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Con nuevas capacidades sumadas a las recién estrenadas aplicaciones de Office 2016, este es el mejor momento para obtener la oferta más completa de Office 365.<br><br>
                                <strong>Conjunto de programas de Office</strong><br>
                                Ahora incluye las nuevas aplicaciones de Office 2016 para PC y Mac.
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_outlook.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_word.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_excel.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_powerPoint.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_notes.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_publisher.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_acces.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype2.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                                <div class="precios-collapse text-center"><a data-toggle="collapse" data-target="#modulo7" class="precios-cursor">▼▲</a></div>
                                <div id="modulo7" class="collapse">
                                    <img src="~/content/images/aplicaciones_tablets.jpg" width="26" height="31" alt="" /><br>
                                    Disfruta de una experiencia de instalación completa de Office en equipos PC, equipos Mac, tabletas Windows, iPad® y tabletas Android™, así como en la mayoría de dispositivos móviles. Cada usuario puede instalar Office en 5 equipos PC o Mac, en 5 tabletas (Windows, iPad y Android) y en 5 teléfonos.
                                    <br><br>
                                    <strong>Servicios en línea</strong>
                                    <ul class="precios-lista">
                                        <li><img src="~/content/images/aplicaciones_calendario.jpg" width="40" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_conferencias.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_skype.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_chat.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_yammer.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_grupo.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_officeOnline.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_admin.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_busqueda.jpg" width="30" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_mailBusqueda.jpg" width="34" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_seguridad.jpg" width="32" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_difusion.jpg" width="34" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_calendarioMail.jpg" width="32" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sistema.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_video.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_telefono.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_herramientas.jpg" width="31" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_archivo.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_sharepoint.jpg" width="31" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_empleados.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_celu2.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_nube2.jpg" width="32" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_escudo.jpg" width="26" height="24" alt="" /></li>
                                        <li><img src="~/content/images/aplicaciones_grafico.jpg" width="26" height="24" alt="" /></li>
                                    </ul><br>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="preciosTable align-top">
                        <!-- módulo 8 -->
                        <div>
                            <div class="precios-top">Office 365<br>Exchange Online (plan 1)</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Plan de archivado de correo electrónico, mensajería y calendarios accesibles desde Outlook en equipos PC, en la web y en dispositivos móviles.
                                <br><br>
                                <strong>Servicios en línea</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_exchange.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </td>

                    <td class="preciosTable align-top">
                        <!-- módulo 9 -->
                        <div>
                            <div class="precios-top">Office 365<br>Enterprise K1</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Destinado a personas de su organización que, sin contar con un PC dedicado, necesiten disponer de acceso ocasional al correo electrónico web, a sitios internos y a documentos con Office Online.
                                <br><br>
                                <strong>Servicios en línea</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_exchange.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_skype.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_sway.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_cloud.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_yammer.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_video2.jpg" width="26" height="24" alt="" /></li>
                                    <li><img src="~/content/images/aplicaciones_chat.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="preciosTable align-top">
                        <!-- módulo 10 -->
                        <div>
                            <div class="precios-top">Office 365<br>Quiosco de Exchange Online</div>
                            <div class="precios-texto">
                                <div class="precios-texto-tit">$888.00 usuario / mes</div>
                                Plan básico con características de mensajería y calendarios con correo electrónico web y acceso POP.
                                <br><br>
                                <strong>Servicios en línea</strong>
                                <ul class="precios-lista">
                                    <li><img src="~/content/images/aplicaciones_exchange.jpg" width="26" height="24" alt="" /></li>
                                </ul><br>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td class="preciosTableVacio align-top">&nbsp;</td>
                    <td class="preciosTableVacio align-top">&nbsp;</td>
                </tr>
            </table>
        </div>
        <!-- FINALIZA LA LISTA DE PRECIOS -->
    </div>
    <div id="consumos" class="tab-pane fade" style="height:100%;">
        <!-- COMIENZA TAB IFRAME -->
        <div class="row" style="height:100%; margin-top:30px;">
            <div class="col-sm-12" style="height:100%;">
                <iframe src="@ViewBag.ConsumosUrl" style="width:100%;height:100%; border:0px;"></iframe>
            </div>
        </div>
        <!-- FINALIZA TAB IFRAME -->
    </div>
    <div class="clearfix"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="myModalLabel">Confirmación</span>
            </div>
            <div id="modal-body-text" class="modal-body">
                modalText
            </div>
            @*<div class="modal-body">
                    ¿Estás seguro que querés eliminar el plan <span class="color-01">Office 365 Business</span>?
                </div>*@
            <div class="modal-footer">
                <div class="col-xs-6 modal-pad"><button type="button" class="btn btn-modal-si" data-dismiss="modal" id="confirmOK">Sí</button></div>
                <div class="col-xs-6 modal-pad"><button type="button" class="btn btn-modal-no" data-dismiss="modal" id="confirmCancel">No</button></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        // handle select customer button clicks
        $(function () {
            $('.btn-select-customer').each(function () {
                $(this).on('click', function () {
                    onSelectCustomerClick($(this));
                });
            });
        });
        function onSelectCustomerClick($button) {
            var $textbox = $('.txt-cuic').first();

            if ($textbox) {
                var cuic = $textbox.val();
                var url = '@Url.Action("index","home")?id=' + cuic;
                window.location.href = url;
            }
        }

        // handle modify button clicks
        $(function () { bindModifyLicensesButtons(); });
        function bindModifyLicensesButtons() {
            $('.btn-modify-licenses').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onModifyLicensesButtonClick($(this)); });
            });
        }
        function onModifyLicensesButtonClick($button) {
            var subscriptionId = $button.data('subscription-id');
            enableLicenseEdition(subscriptionId);
            event.preventDefault();
        }

        // handle save button clicks
        $(function () { bindSaveLicensesButtons(); });
        function bindSaveLicensesButtons() {
            $('.btn-save-licenses').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onSaveLicensesButtonClick($(this)); });
            });
        }
        function onSaveLicensesButtonClick($button) {

            var $minAlert = $('.minAlert').first();
            var $minOfferAlert = $('.minOfferAlert').first();
            var $maxOfferAlert = $('.maxOfferAlert').first();
            var $errAlert = $('.errAlert').first();

            $minAlert.addClass('hidden');
            $minOfferAlert.addClass('hidden');
            $maxOfferAlert.addClass('hidden');
            $errAlert.addClass('hidden');

            var subscriptionId = $button.data('subscription-id');
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox.val() < 1) {
                $minAlert.removeClass('hidden');
                return;
            }

            confirmDialog('¿Está seguro que desea guardar los cambios?'
                            , function () {
                                $.LoadingOverlay('show');

                                var subscriptionId = $button.data('subscription-id');
                                disableSaveButton(subscriptionId);
                                disableLicenseQuantityTextBox(subscriptionId);
                                saveLicenseQuantity(subscriptionId,
                                    function () {
                                        var $licenseLabel = selectBySubscriptionId('.txt-license-label', subscriptionId);
                                        $licenseLabel.text($textbox.val());
                                        $.LoadingOverlay('hide');
                                        disableLicenseEdition(subscriptionId);
                                        enableSaveButton(subscriptionId);
                                    },
                                    function (xhr, status, error) {
                                        $.LoadingOverlay('hide');
                                        enableSaveButton(subscriptionId);
                                        enableLicenseQuantityTextBox(subscriptionId);

                                        if (error.match("^MaximunQuantity:")) {
                                            $maxOfferAlert.removeClass('hidden');
                                            return;

                                        }

                                        if (error.match("^MinimumQuantity:")) {
                                            $minOfferAlert.removeClass('hidden');
                                            return;

                                        }

                                        $errAlert.removeClass('hidden');
                                    }
                                );
                                event.preventDefault();
                            });
        }

        // handle suspend button clicks
        $(function () { bindSuspendLicensesButtons(); });
        function bindSuspendLicensesButtons() {
            $('.btn-suspend-licenses').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onSuspendLicensesButtonClick($(this)); });
            });
        }
        function onSuspendLicensesButtonClick($button) {

            var $errAlert = $('.errAlert').first();
            $errAlert.addClass('hidden');

            confirmDialog('¿Est&aacute;s seguro que quer&eacute;s eliminar el plan <span class="color-01">' + $button.data('subscription-name') + '</span>?'
                            , function () {
                                var subscriptionId = $button.data('subscription-id');
                                disableModifyButton(subscriptionId);
                                disableSuspendButton(subscriptionId);
                                disableSaveButton(subscriptionId);

                                $.LoadingOverlay('show');
                                suspendLicense(subscriptionId,
                                    function () {
                                        location.reload();
                                    },
                                    function (xhr, status, error) {
                                        $.LoadingOverlay('hide');
                                        enableModifyButton(subscriptionId);
                                        enableSuspendButton(subscriptionId);
                                        enableSaveButton(subscriptionId);
                                        $errAlert.removeClass('hidden');
                                    }
                                );
                                event.preventDefault();
                            });
        }

        // Confirm Dialog
        function confirmDialog(confirmText, onConfirm) {

            var modal = $('#modalConfirm');

            var fClose = function () {
                modal.unbind();
                modal.modal("hide");
            };

            var modalTextDiv = $('#modal-body-text');
            modalTextDiv.html(confirmText);

            modal.modal("show");

            $("#confirmOK").off('click').one('click', onConfirm);
            $("#confirmOK").one('click', fClose);
            $("#confirmCancel").off('click').one('click', fClose);
        }

        // handle add license buttons click
        $(function () {
            $('#btn-add-license').on('click', function () {
                onAddLicensesButtonClick();
            });
            $('#btn-confirm-add-license').on('click', function () {
                onConfirmAddLicensesButtonClick();
            });
            $('#btn-cancel-add-license').on('click', function () {
                onCancelAddLicensesButtonClick();
            });
        });

        function onAddLicensesButtonClick() {
            enableLicenseAddition();
            event.preventDefault();
        }

        function onConfirmAddLicensesButtonClick() {

            confirmDialog(
                '¿Confirma agregar el plan seleccionado?',
                function () {
                    var $cmb = $('#cmb-price');
                    var parts = $cmb.val().split('|');
                    var $txt = $('#txt-license-quantity');

                    var data = {
                        customerId: '@ViewBag.CustomerId',
                        offerId: parts[0],
                        subscriptionId: parts[1],
                        offerFriendlyName: $cmb.children('option:selected').text(),
                        licenseQuantity: parseInt($txt.val())
                    };

                    var $errAlert = $('.errAlert').first();
                    $errAlert.addClass('hidden');

                    $.LoadingOverlay('show');
                    $.post('@Url.Action("AddLicense", "Subscriptions")', data)
                    .done(function () {
                        location.reload();
                    })
                    .fail(function () {
                        $.LoadingOverlay('hide');
                        $errAlert.removeClass('hidden');
                    });
                }
            );
            event.preventDefault();
        }
        function onCancelAddLicensesButtonClick() {
            disableLicenseAddition();
        }

        function saveLicenseQuantity(subscriptionId, onSuccessCallback, onErrorCallback) {
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox) {
                var data = {
                    customerId: '@ViewBag.CustomerId',
                    subscriptionId: subscriptionId,
                    licenseQuantity: parseInt($textbox.val())
                };
                $.post('@Url.Action("SaveLicenseQuantity", "Subscriptions")', data)
                .done(onSuccessCallback)
                .fail(onErrorCallback);
            }
        }

        function suspendLicense(subscriptionId, onSuccessCallback, onErrorCallback) {

            var data = {
                customerId: '@ViewBag.CustomerId',
                subscriptionId: subscriptionId,
            };

            $.post('@Url.Action("SuspendLicense", "Subscriptions")', data)
                .done(onSuccessCallback)
                .fail(onErrorCallback);
        }

        function enableLicenseAddition() {
            // show controls
            var $controls = $('.add-license-controls');
            if ($controls) {
                $controls.fadeIn();
            }
        }

        function disableLicenseAddition() {
            // hide controls
            var $controls = $('.add-license-controls');
            if ($controls) {
                $controls.fadeOut();
            }
        }

        function enableLicenseEdition(subscriptionId) {

            // hide label
            var $lbl = selectBySubscriptionId('.txt-license-label', subscriptionId);
            if ($lbl) {
                $lbl.hide();
            }

            // hide modify button
            var $button = selectBySubscriptionId('.btn-modify-licenses', subscriptionId);
            if ($button) {
                $button.hide();
            }

            // show save button
            var $button = selectBySubscriptionId('.btn-save-licenses', subscriptionId);
            if ($button) {
                $button.show();
            }

            var onEnterKey = function () {
                $button.click();
            };

            // show and enable input
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox) {
                $textbox.show();
                var quantity = $textbox.data('subscription-quantity');
                $textbox.prop('disabled', false);
                $textbox.val(quantity);
                $textbox.attr('placeholder', '');
                $textbox.keyup(function (e) {
                    if (e.keyCode === 13) {
                        onEnterKey();
                    }
                });
                $textbox.focus();
            }

        }

        function disableLicenseEdition(subscriptionId) {

            // show label
            var $lbl = selectBySubscriptionId('.txt-license-label', subscriptionId);
            if ($lbl) {
                $lbl.show();
            }

            // hide and disable input
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox) {
                $textbox.hide();
                var quantity = $textbox.val();
                $textbox.prop('disabled', true);
                $textbox.val();
                $textbox.attr('placeholder', quantity);
                $textbox.data('subscription-quantity', quantity);
            }

            // hide modify button
            var $button = selectBySubscriptionId('.btn-modify-licenses', subscriptionId);
            if ($button) {
                $button.show();
            }

            // show save button
            var $button = selectBySubscriptionId('.btn-save-licenses', subscriptionId);
            if ($button) {
                $button.hide();
            }
        }

        function disableSaveButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-save-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', true);
            }
        }

        function disableModifyButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-modify-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', true);
            }
        }

        function disableModifyButtons() {
            $('.btn-modify-licenses').prop('disabled', true);
        }

        function enableModifyButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-modify-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', false);
            }
        }

        function enableModifyButtons() {
            $('.btn-modify-licenses').prop('disabled', false);
        }

        function disableSuspendButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-suspend-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', true);
            }
        }

        function disableSuspendButtons() {
            $('.btn-suspend-licenses').prop('disabled', true);
        }

        function enableSuspendButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-suspend-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', false);
            }
        }

        function enableSuspendButtons() {
            $('.btn-suspend-licenses').prop('disabled', false);
        }

        function enableSaveButton(subscriptionId) {
            var $button = selectBySubscriptionId('.btn-save-licenses', subscriptionId);
            if ($button) {
                $button.prop('disabled', false);
            }
        }

        function disableLicenseQuantityTextBox(subscriptionId) {
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox) {
                $textbox.prop('disabled', true);
            }
        }

        function enableLicenseQuantityTextBox(subscriptionId) {
            var $textbox = selectBySubscriptionId('.txt-license-quantity', subscriptionId);
            if ($textbox) {
                $textbox.prop('disabled', false);
                $textbox.focus();
            }
        }

        function selectBySubscriptionId(selector, subscriptionId) {
            var $element = null;
            $(selector).each(function () {
                var $e = $(this);
                if ($e.data('subscription-id') == subscriptionId) {
                    $element = $e;
                }
            });
            return $element;
        }

        // handle add-addon button clicks
        $(function () { bindAddAddonButtons(); });
        function bindAddAddonButtons() {
            $('.btn-add-addon').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onAddAddonButtonClick($(this)); });
            });
        }
        function onAddAddonButtonClick($button) {
            var subscriptionId = $button.data('subscription-id');
            var offerId = $button.data('offer-id');
            getAddOns(subscriptionId, offerId);
            event.preventDefault();
        }
        function getAddOns(subscriptionId, offerId) {
            var data = {
                parentSuscriptionId: offerId
            };

            var $errAlert = $('.errAlert').first();
            $errAlert.addClass('hidden');

            $.LoadingOverlay('show');

            $.get('@Url.Action("GetAddOns", "Subscriptions")', data)
                .done(function (res) {
                    if (res.length == 0)
                        return;

                    var $cmb = selectBySubscriptionId('.cbo-addon', subscriptionId);
                    $cmb.empty();

                    $.each(res, function (i, value) {
                        $cmb.append($('<option>').text(value.addOnDescription).attr('value', value.addOnId));
                    });
                    enableAddonEdition(subscriptionId);
                })
                .fail(function (xhr, status, error) {
                    $errAlert.removeClass('hidden');
                })
                .always(function (data, textStatus, errorThrown) {
                    $.LoadingOverlay('hide');
                });
        }
        function enableAddonEdition(subscriptionId) {
            var $controls = selectBySubscriptionId('.add-addon-controls', subscriptionId);
            if ($controls) {
                $controls.fadeIn();
            }
        }

        // handle cancel-add-addon button clicks
        $(function () { bindCancelAddonButtons(); });
        function bindCancelAddonButtons() {
            $('.btn-cancel-add-addon').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onCancelAddonButtonClick($(this)); });
            });
        }
        function onCancelAddonButtonClick($button) {
            var subscriptionId = $button.data('subscription-id');
            cancelAddonEdition(subscriptionId);
            event.preventDefault();
        }
        function cancelAddonEdition(subscriptionId) {
            var $controls = selectBySubscriptionId('.add-addon-controls', subscriptionId);
            if ($controls) {
                $controls.fadeOut();
            }
        }

        // handle save-addon button clicks
        $(function () { bindSaveAddonButtons(); });
        function bindSaveAddonButtons() {
            $('.btn-save-addon').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onSaveAddonButtonClick($(this)); });
            });
        }

        function onSaveAddonButtonClick($button) {
            var subscriptionId = $button.data('subscription-id');
            var $cmb = selectBySubscriptionId('.cbo-addon', subscriptionId);
            var $txtQuantity = selectBySubscriptionId('.txt-quantity-addon', subscriptionId);
            var addOnId = $cmb.val();
            var friendlyName = $cmb.find('option:selected').text();

            confirmDialog(
                '¿Confirma agregar el addon seleccionado?',
                function () {

                    var data = {
                        customerId: '@ViewBag.CustomerId',
                        parentSubscriptionId: subscriptionId,
                        addOnId: addOnId,
                        friendlyName: friendlyName,
                        quantity: $txtQuantity.val()
                    };

                    var $errAlert = $('.errAlert').first();
                    $errAlert.addClass('hidden');

                    $.LoadingOverlay('show');
                    $.post('@Url.Action("AddAddOn", "Subscriptions")', data)
                    .done(function () {
                        location.reload();
                    })
                    .fail(function () {
                        $.LoadingOverlay('hide');
                        $errAlert.removeClass('hidden');
                    });
                }
            );
            event.preventDefault();
        }

        //Build addon trees
        $(function () { buildAddOnTrees(); });
        function buildAddOnTrees() {
            $('.item-addon').jstree({
                'core': {
                    'themes': {
                        'icons': false
                    }
                }
            });
        }

        //handle suspend addon
        $(function () { bindSuspendAddOnButtons(); });
        function bindSuspendAddOnButtons() {
            $('.btn-suspend-addon').each(function () {
                $(this).off('click');
                $(this).on('click', function () { onSuspendAddOnButtonClick($(this)); });
            });
        }

        function onSuspendAddOnButtonClick($button) {

            var $errAlert = $('.errAlert').first();
            $errAlert.addClass('hidden');

            confirmDialog('¿Est&aacute;s seguro que quer&eacute;s eliminar el addon <span class="color-01">' + $button.data('subscription-name') + '</span>?'
                , function () {
                    var subscriptionId = $button.data('addon-id');
                    //disableModifyButton(subscriptionId);
                    //disableSuspendButton(subscriptionId);
                    //disableSaveButton(subscriptionId);

                    $.LoadingOverlay('show');
                    suspendLicense(subscriptionId,
                        function () {
                            location.reload();
                        },
                        function (xhr, status, error) {
                            $.LoadingOverlay('hide');
                            //enableModifyButton(subscriptionId);
                            //enableSuspendButton(subscriptionId);
                            //enableSaveButton(subscriptionId);
                            $errAlert.removeClass('hidden');
                        }
                    );
                    event.preventDefault();
                });
        }
    </script>
}